body, h1, h2, h3, p, label {
    margin: 0;
    padding: 0;
}

.degrade {
    background-image: linear-gradient(45deg, #3498db, #2ecc71);
    height: 100vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-container {
    background: rgb(41, 41, 41);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.social-icons a {
    color: #ecf0f1;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #e74c3c;
}

a {
    text-decoration: none;
}

a:visited {
    color: #bdc3c7;
}

a:hover {
    color: #2c3e50;
    background-color: #ecf0f1;
}

footer {
    background-color: #7f8c8d;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}

.button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #2c3e50;
    border: none;
    color: white;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #34495e;
}

#resultado-container {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    color: #2c3e50;
    font-size: 18px;
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultado {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #2c3e50;
}

.input-group {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 15px;
    margin-top: 15px;
}